@model MyEmplo.Application.MyEmplo.MyEmploDto

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.FullName Details</h1>

<div>
    <h4>MyEmploDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfEmployment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfEmployment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfEmployment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfEmployment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discord)
        </dd>
    </dl>
</div>


<div>
    @if (Model.IsEditable)
    {
        <a class="btn btn-outline-secondary" asp-controller="MyEmplo" asp-action="Edit" asp-route-encodedName="@Model.EncodedName">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>

@* <h3>Services:</h3>

<div id="services" class="row" data-encoded-name="@Model.EncodedName"></div>

@section Scripts {
    <script src="~/js/MyEmplo/Details.js"></script>
} *@
