@model IEnumerable<MyEmplo.Application.MyEmplo.MyEmploDto>

@{
    ViewData["Title"] = "My Employees";
}

<div class="d-flex">
	<div>
        <h1>My Employees</h1>
		<span class="text-muted">Click the red button and add new employee</span>
    </div>
    <div class="ms-auto">
        <a asp-action="Create">
            <button class="main-header__add">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                </svg>
            </button>
        </a>
    </div>
</div>

<div class="row mt-3">
    <div class="form-group pull-right search-bar">
        <button onclick="focusSearchInput()">
            <img src="/img/icons/loupe.png" alt="" />
        </button>
        <input id="searchInput" type="text" class="search form-control" placeholder="Search for your employee..">
    </div>
    <span class="counter pull-right"></span>
    <div>
        <table class="table table-hover results">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Worker</th>
                    <th scope="col">Role</th>
                    <th scope="col">Employment type</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">Actions</th>
                </tr>
                <tr class="warning no-result">
                    <td colspan="5"><i class="fa fa-warning"></i> No result</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var (index, item) in Model.Select((value, i) => (i + 1, value)))
                {
                    <tr>
                        <td><div class="mt-2"><span>@index</span></div></td>
                        <td>
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="avatar-img avatar-sm me-3">
                                    <img id="profile-picture-edit" class="rounded-circle w-100" src="/img/icons/profile1.png" alt="avatar" />
                                </div>

                                <div class="d-flex flex-column">
                                    <a class="text-body text-truncate" asp-controller="MyEmplo" asp-action="Details" asp-route-encodedName="@item.EncodedName">
                                        <span class="fw-medium">@item.FullName</span>
                                    </a>
                                    <small class="text-muted">@item.Email</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="mt-2">
                                <span>
                                    <img class="small-icon me-2" src="/img/icons/role.png" alt="" />
                                    @item.Role
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="mt-2">
                                <span>
                                    <img class="small-icon me-2" src="/img/icons/time.png" alt="" />
                                    @item.TypeOfEmployment
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="mt-2">
                                <span>
                                    <img class="small-icon me-2" src="/img/icons/phone.png" alt="" />
                                    @item.PhoneNumber
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="mt-2">
                                @if (item.IsEditable)
                                {
                                    <a asp-controller="MyEmplo" asp-action="Edit" asp-route-encodedName="@item.EncodedName">
                                        <img class="actions-icon me-2" src="/img/icons/edit.png" alt="" />
                                    </a>
                                }
                                <a asp-controller="MyEmplo" asp-action="Delete" asp-route-encodedName="@item.EncodedName">
                                    <img class="actions-icon me-2" src="/img/icons/delete.png" alt="" />
                                </a>
                                <a asp-controller="MyEmplo" asp-action="Details" asp-route-encodedName="@item.EncodedName">
                                    <img class="actions-icon me-2" src="/img/icons/view.png" alt="" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="mt-5 custom-margin-minus-img text-center">
	<img class="img-100" src="img/others/Baner_employee.png" alt="" />
</div>

<script>
    function focusSearchInput() {
        var searchInput = document.getElementById('searchInput');
        if (searchInput) {
            searchInput.focus();
        }
    }
</script>

<script>
    function saveChanges() {
        // Pobierz aktualnie wybrane zdjęcie
        const selectedImageSrc = document.getElementById('profile-picture').src;

        // Zaktualizuj zdjęcie na stronie edycji
        document.getElementById('profile-picture-edit').src = selectedImageSrc;

        // Tutaj możesz dodać inne operacje, które chcesz wykonać po zapisaniu zmian
        // Na przykład, możesz wysłać żądanie do serwera, aby zapisać zmiany w bazie danych itp.
    }
</script>
